*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#007acc, #6DD5FA), #FFFFFF;
}
.Container1{
    width: 700px;
    padding: 35px;
    backdrop-filter: blur(45px);
    border-radius: 20px;
    box-shadow: 0 0px 25px white;   
}
.Case{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    z-index: 999;
    position: absolute;
    color:#007acc;
    background: transparent;
    color:transparent;
    caret-color: #007acc;
}

.Container1 .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    background-color: #fff;
}
.content-box .text{
    overflow: hidden;
    max-height: 256px;
}
.text::-webkit-scrollbar{
    width: 0;
}
.text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.text p span{
    position: relative;
}
.text p span.correct{
    color : #007acc;
    font-weight: bold;
}
.text p span.incorrect{
    color: red;
    font-weight: bold;
}
input{
    color: black;
}
.text p span.active::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #007acc;
    animation: blink is ease-in-out infinite;
}
@keyframes blink{
    50%{
        opacity: 1;
    }
}
.content{
    margin-top: 30%;
    padding-bottom: 4ch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content .resultat{
    display: flex;
    flex-direction: row;
    gap: 5ch;
}
.resultat li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resultat li span{
    display: block;
    font-size: 1.2rem;
}
.content button{
    outline: none;
    border: none;
    width: 185px;
    color: #007acc;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #007acc;
    background: none;
    transition: background-color 0.5s ease-in-out;
}
button:hover{
    background-color: #007acc;
    color: #fff;
}
h1{
    color: white;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    z-index: 10000;
    padding: 1ch;
}
.Loading-Bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
}
.bar{
    width: 10vw;
    height: 105vh;
    background:linear-gradient(#007acc, #6DD5FA), #FFFFFF ;
}
.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
}
